html {
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

#root {
  margin: 50px auto;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 15px solid #000;
  border-radius: 50%;
  margin: 50px auto;
  padding: 2rem;
  position: relative;
}
.clock-face {
  width: 100%;
  height: 100%;
  position: relative;
}
.tooltip {
  display: none;
}
.clock-face:hover .tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(107, 107, 107);
  width: 100px;
  border-radius: 10px;
  color: white;
}
.clock-face::after {
  content: "";
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
/* 시, 분, 초 */
.hand {
  position: absolute;
  width: 2px;
  height: 50%;
  background-color: #000;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
}
.hour-hand {
  width: 4px;
  height: 35%;
}
.min-hand {
  width: 4px;
  height: 45%;
}
.second-hand {
  background-color: red;
}
